<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="nav-squence-tab" data-bs-toggle="tab" data-bs-target="#squence"
            type="button" role="tab" aria-controls="nav-squence" aria-selected="true">Check Sequence</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-merge-tab" data-bs-toggle="tab" data-bs-target="#merge" type="button"
            role="tab" aria-controls="nav-merge" aria-selected="false">Merge Text</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-vtt-txt1" data-bs-toggle="tab" data-bs-target="#vtt-txt" type="button"
            role="tab" aria-controls="nav-vtt-txt" aria-selected="false">VTT to Text</button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="squence" role="tabpanel" aria-labelledby="nav-squence-tab"
          tabindex="0">
          <div class="row">
            <div class="col-12">
              Totol: {{monitorSequence.total}} <br>
              id: {{monitorSequence.id.join(', ') || '-'}} <br>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              Shuffle: {{monitorSequence.shuffle}} <br>
              id: {{monitorSequence.shuffleId.join(', ') || '-'}} <br>
            </div>
            <div class="col-6">
              Drop: {{monitorSequence.drop}} <br>
              id: {{monitorSequence.dropId.join(', ') || '-'}} <br>
            </div>

          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <input class="form-control" type="file" (change)="selectFile($event)">
              </div>

              <div *ngFor="let sq of list; let i = index"
                [class.hg]="list2[i] && (sq.value.sequence == list2[i].value.sequence) && !sq.value.sequence">
                id: {{sq.msgId}} <br>
                sequence:
                <span style="color: green;" *ngIf="sq.value.sequence">{{sq.value.sequence}}</span>
                <span style="color: red;" *ngIf="!sq.value.sequence">{{sq.value.sequence}}</span> <br>
                <!-- <label class="one-line"> wrongIndex: {{sq.value.indexWrongSequence }}</label> -->
                <!-- offsetId: {{sq.maxOffsetId}} <br>
                offset: {{sq.maxOffset}} <br> -->
                shuffleId: {{sq.shuffle.list.join(",")}} <br>
                totalShuffle: {{sq.shuffle.total}} <br>
                <hr>
              </div>

              <hr>
              <h2 *ngIf="text.length != 0">Text</h2>

              <div *ngFor="let tx of text; let i = index">
                {{tx}} <br>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <input class="form-control" type="file" (change)="selectFile2($event)">
              </div>

              <div *ngFor="let sq of list2; let i = index"
                [class.hg]="list[i] && (sq.value.sequence == list[i].value.sequence) && !sq.value.sequence">
                id: {{sq.msgId}} <br>
                sequence:
                <span style="color: green;" *ngIf="sq.value.sequence">{{sq.value.sequence}}</span>
                <span style="color: red;" *ngIf="!sq.value.sequence">{{sq.value.sequence}}</span> <br>
                <label class="one-line"> wrongIndex: {{sq.value.indexWrongSequence }}</label>
                offsetId: {{sq.value.offsetId}} <br>
                offset: {{sq.value.offset}} <br>
                <hr>
              </div>

              <hr>
              <h2 *ngIf="text2.length != 0">Text</h2>

              <div *ngFor="let tx of text2">
                {{tx}} <br>
              </div>
            </div>
          </div>



        </div>
        <div class="tab-pane fade" id="merge" role="tabpanel" aria-labelledby="nav-merge-tab" tabindex="0">
          <div class="row">
            <div class="col-8">
              <input type="file" class="form-control" multiple (change)="selectMergeFile($event)">
            </div>
            <div class="col-4">
              <div class="d-grid">
                <button type="button" class="btn btn-success" [disabled]="!mergeText"
                  (click)="exportText(mergeText, 'mergeText.txt')">ExportText</button>
              </div>
            </div>
          </div>
          <hr>
          {{mergeText}}


        </div>
        <div class="tab-pane fade" id="vtt-txt" role="tabpanel" aria-labelledby="nav-vtt-txt" tabindex="0">
          <div class="row">
            <div class="col-8">
              <input type="file" class="form-control" (change)="selectVTTtoTxt($event)">
            </div>
            <div class="col-4">
              <div class="d-grid">
                <button type="button" class="btn btn-success" [disabled]="!vttText" (click)="exportVTTtoTxt()">Export
                  Text</button>

              </div>
            </div>
          </div>
          <hr>
          <div [innerText]="vttText.content"></div>
        </div>
      </div>
    </div>
  </div>

</div>